.container {
  min-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  background: rgba(0, 0, 0, 0.4);
  padding: 18px 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  transition: 0.5s;
}

.logo:hover {
  color: #3cb878;
}

.header-links > a {
  margin-right: 25px;
  position: relative;
}

.header-links > a > .link,
.header-links > a > .link-hover {
  transition: 0.5s;
  height: 17px;
}

.header-links > a:hover > .link {
  opacity: 0;
}

.header-links > a > .link-hover {
  position: absolute;
  left: 0;
  opacity: 0;
}

.header-links > a:hover > .link-hover {
  opacity: 1;
}

.header-register {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.header-register > a {
  color: #fff;
  transition: 0.5s;
}

.header-register > a:hover {
  color: #3cb878;
}

.right-header-side {
  display: flex;
  align-items: center;
}

.header-register {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  padding-left: 25px;
}

main {
  text-align: center;
}

.form-container {
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  padding: 35px 40px;
  display: inline-block;
  margin-top: 100px;
}

.form-container > h2 {
  color: #434343;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}

.form-container > h2::before {
  content: "";
  background: #3cb878;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -40px;
}

.btns-container {
  margin-top: 15px;
}

.facebook {
  background-color: #305db8;
}
.google {
  background-color: #df4a32;
}

.facebook:hover {
  background-color: #022263;
}
.google:hover {
  background-color: #ab1f09;
}

.btns-container > a {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 14px 20px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  transition: 0.5s;
}

.btns-container > a > img {
  height: 20px;
}

form {
  margin-top: 20px;
}

form > input {
  display: block;
  width: 86%;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 16px 20px;
  outline: none;
  margin-bottom: 15px;
  transition: 0.5s;
}

form > input::placeholder {
  color: #bebebe;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

form > input:focus {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.submit {
  width: 100%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  padding: 15px 0;
  border: none;
  margin-top: 15px;
  transition: 0.5s;
}

.submit:hover {
  background-color: #01813f;
}
