@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-bg {
  height: 100vh;
  background-image: url("./images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.overlay-shadow {
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.8) 73.22%,
    #08090a 99.74%
  );
  height: 100vh;
  position: relative;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu > a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}

.navbar-menu > a::after {
  content: "";
  height: 1px;
  width: 0;
  background-color: #ffb548;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 0.5s;
}

.navbar-menu > a:not(:last-child) {
  margin-right: 40px;
}

.navbar-menu > a:hover {
  color: #ffb548;
}

.navbar-menu > a:hover::after {
  width: 100%;
}

.header-links > a:first-child {
  margin-right: 15px;
}

.hero-section {
  text-align: center;
  padding-top: 15%;
}

.main-title {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-subtitle {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.main-btn {
  color: #1a1917;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 55px;
  border-radius: 4px;
  background: linear-gradient(181deg, #ffb548 0%, #f3af34 99.52%);
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
}

.hero-link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.subscribe-section {
  height: 85vh;
  background-image: url("./images/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15vh;
}

.subscribe-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-content {
  width: 55%;
}

.section-title {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-title::before {
  font-size: 24px;
  letter-spacing: 2px;
  display: block;
}

.subscribe-content > .section-title::before {
  content: "Want to stay in touch?";
}

.subscribe-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 45px;
}

.subscribe-form {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-submit {
  border: none;
  padding: 20px 70px;
  cursor: pointer;
  margin-top: 0;
}

.form-email {
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
  width: 55%;
  color: #ffb548;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}

.form-email::placeholder {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.requirements-section {
  height: 85vh;
  background-image: url("./images/requirements-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15vh;
  text-align: center;
}

.requirements-section .section-title::before {
  content: "Can My Computer Run this game?";
}

.requirements-table {
  margin-top: 140px;
}

table,
tr,
td {
  border: 1px solid gray;
}

.requirements-table td {
  text-align: left;
  width: 260px;
  padding: 15px;
}

.requirements-table td > h4 {
  color: #ffb548;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.requirements-table td > p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 8px;
}

.quotes-section {
  height: 85vh;
  background-image: url("./images/quotes-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15vh;
  text-align: center;
}

.quotes-section > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotes-section .section-title::before {
  content: "What people think?";
}

.quotes-left {
  text-align: left;
  width: 40%;
}

.quotes-right {
  width: 60%;
  text-align: right;
}

.quotes-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 50px 0;
}

.quote-card {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 25px 70px 25px 15px;
  position: relative;
  text-align: left;
  width: 55%;
  display: inline-block;
}

.quote-card:not(:last-child) {
  margin-bottom: 30px;
}

.quote-card:nth-child(2) {
  transform: translateX(-100px);
}

.twitter {
  position: absolute;
  top: 30px;
  right: 20px;
}

.quote-card-top {
  display: inline-block;
  margin-bottom: 20px;
}

.quote-card-person {
  display: flex;
}

.quote-card-img {
  margin-right: 30px;
  position: relative;
}

.quote-card-img > img {
  border-radius: 50%;
  position: relative;
  z-index: 2;
  width: 63px;
  height: 63px;
}

.quote-card-img::before {
  content: "";
  background-color: #ffb548;
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  bottom: -3px;
  right: -10px;
  z-index: 0;
}

.quote-card-name {
  text-align: left;
}

.quote-card-name > h5 {
  color: #ffb548;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.quote-card-name > span {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.quote-card-bottom {
  text-align: left;
  width: 90%;
  display: inline-block;
}

.quote-card-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote-card-date {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.last-bg {
  background-image: url("./images/gallery-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.gallery-section {
  height: 85vh;
  padding-top: 15vh;
  text-align: center;
}

.gallery-section > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-section .section-title::before {
  content: "What is SOS?";
  text-align: left;
}

.gallery-section .section-title {
  text-align: left;
  width: 70%;
  position: relative;
}

.gallery-section .section-title::after {
  content: "";
  height: 3px;
  width: 170%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.gallery-left {
  width: 50%;
}

.gallery-text {
  color: #fff;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 60px;
  margin-left: 300px;
  width: 50%;
}

.gallery-text > b {
  font-weight: 700;
}

.gallery-text > .selected {
  border-bottom: 1px solid #ffb548;
}

.gallery-right {
  width: 50%;
  height: 612px;
  position: relative;
}

.gallery-right > img {
  width: 503px;
  height: 612px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-right > img:nth-child(1) {
  z-index: 2;
}

.gallery-right > img:nth-child(2) {
  left: 50px;
  transform: scale(0.9);
  z-index: 1;
}

.gallery-right > img:nth-child(3) {
  left: 100px;
  transform: scale(0.8);
  z-index: 0;
}

footer {
  padding: 50px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}

.footer-logo > img {
  width: 90px;
  height: 90px;
}

.footer-menu > a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-menu > a:not(:last-child) {
  margin-right: 35px;
}

.footer-bottom,
.footer-bottom > a {
  color: #fff;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 24px;
}
